# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# PyInstaller
*.spec

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Database / secret files
*.db
*.sqlite3
*.env
*.ini
config.py

# Docker
*.tar
docker-compose.override.yml

# VSCode / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Images/screenshots (optional if you don't want to commit assets)
assets/screenshots/*
